<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link href="css/style.css" rel="stylesheet" />
  <title>Tarea Laboratorio 4</title>
</head>

<body>
      <div class = "contenedor">
		<h1>Ingresar producto</h1>
           	<form class="formulario" method="post" th:action="@{/formProducto}" th:object="${product}">    		

	            <div class= "campos">
	            	<label for="nombre">Nombre del producto   </label>
		        	   	<input th:field = "*{nombre}" id="nombre" type="text" placeholder="Ingresa el nombre" name="nombre" />
		            	<span th:errors= "*{nombre}" style="color: #E81505"></span>
	            </div>

	            <div class= "campos">
	            	<label for="descripcion">Descripcion   </label>
		                <input th:field="*{descripcion}" id="descripcion" type="text" placeholder="Ingresa la descripcion"  name="descripcion" />
		                <span th:errors="*{descripcion}" style="color: #E81505"></span>
	            </div>

	            <div class= "campos">
	            	<label for="precio">Precio  </label>
		                <input th:field="*{precio}" id="precio" type="number" placeholder="Ingresa el precio"  name="precio" />
		                <span th:errors="*{precio}" style="color: #E81505"></span>
	            </div>

	             <div class= "campos">
	             	<label for="vencimiento">Fecha de vencimiento  </label>
		                <input th:field="*{vencimiento}"  id="vencimiento" type="text" placeholder="Formato dd/mm/yyyy"  name="vencimiento" />
		                <span th:errors="*{vencimiento}" style="color: #E81505"></span>
	           	</div>
	            <br>
	                <div><input class="btnSubmit" type="submit" value="Guardar producto"></div>
	         </form>
      </div>
</body>
</html>